.root {
  background-color: white;
  margin: 2px;
  padding: 12px;
  border: none;
  box-shadow: 0 0 0 2px black;

  will-change:
    transform,
    box-shadow;

  transition:
    transform var(--bias),
    box-shadow var(--bias);
}

.root:hover {
  outline: none;
  transform: translate(-1px, -1px);
  box-shadow: 1px 1px 0 2px black;
}

.root:focus,
.root:active {
  outline: none;
  transform: translate(1px, 1px);
  box-shadow: -1px -1px 0 2px black;
}
