.root {
  display: inline-block;
  user-select: none;
  appearance: none;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Work Sans', 'system', sans-serif;
  padding: 12px 24px;
  border: none;
  box-shadow: 0 0 0 2px black;
  margin: 0 2px 2px 0;

  will-change:
    transform,
    box-shadow,
    background-color;

  transition:
    transform var(--bias),
    box-shadow var(--bias),
    background-color var(--bias);
}

.root:hover,
.root:focus {
  outline: none;
  background-color: #f5ffff;
  transform: translate(-1px, -1px);
  box-shadow: 1px 1px 0 2px black;
}

.root:active {
  outline: none;
  background-color: #f5ffff;
  transform: translate(1px, 1px);
  box-shadow: -1px -1px 0 2px black;
}
