.logo {
  float: left;
  margin-right: .25rem;
  display: inline;
  line-height: 1.5;
}

.root > *:nth-child(2) {
  display: inline-block;
  line-height: 1.5;
  margin: 6px 0;
}

.root > h1:nth-child(2) {
  display: inline;
  line-height: 1.5;
  margin: 6px 0;
}
