@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src:
    local('.SFNSText-Light'),
    local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'),
    local('Ubuntu Light'),
    local('Segoe UI Light'),
    local('Roboto-Light'),
    local('DroidSans'),
    local('Tahoma');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'system', sans-serif;
  font-size: 16px;

  padding: 20px; /* development */

  --bias: .2s cubic-bezier(.25, .8, .25, 1);
}

input,
button,
.interactive {
  cursor: pointer;
}

p {
  margin: 1.5em 0;
}
